
---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";
import {Content as Sobre} from '../components/sobre.md';
---

<EpisodeLayout title="Sobre" description={astropodConfig.description} cover={astropodConfig.cover}>
  
		<div class="text-center">
		  <h1 class="text-2xl font-bold mb-2">{astropodConfig.description}</h1>		  
		</div> 
		<Sobre />
		 
		<a class="btn btn-accent mt-9" href="/">🏠 Home</a>

</EpisodeLayout>

<style>
	html, body, p {
		font-size: 1.125rem; /* 18px */
		line-height: 1.25rem; /* 28px */ 
	}	 
	p {
		font-weight: 700 !important;
		margin: 1px !important;
	}  
	.prose-p,
	.prose-base,
	.prose-xl,
	.prose :where(p):not(:where([class~="not-prose"] *)) ,
	.prose {
		margin-top: 0.55em !important;
		margin-bottom: 0.55em !important;
	}  
</style>