
---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";
import {Content as Sobre} from '../components/sobre.md';
---

<EpisodeLayout title="Sobre" description={astropodConfig.description} cover={astropodConfig.cover}>
  
		<div class="text-center mt-16">
		  <h1 class="text-2xl font-bold mb-2">{astropodConfig.description}</h1>		  
		</div> 
		<Sobre />
		 

</EpisodeLayout>

<style>
	html, body, p {
  		font-size: 16px important;
	}
</style>