
---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";
---

<EpisodeLayout title="Sobre" description={astropodConfig.description} cover={astropodConfig.cover}>
  
		<div class="text-center mt-16">
		  <h1 class="text-2xl font-bold mb-2">{astropodConfig.description}</h1>
		  <h3 class="text-2xl">ccc</h3>
		  <a class="btn btn-accent mt-9" href="/">Home</a>
		</div>

</EpisodeLayout>
